@import url('./font.css');
@import 'tailwindcss';

@theme {
  --font-dana: 'Dana', serif;
  --font-operator-mono: 'Operator Mono', serif;
}

@layer base {
  body {
    @apply font-dana;
  }

  .container {
    @apply mx-auto px-4;
  }
}

@layer components {
  .hero-text {
    text-align: center !important;
  }

  @media (min-width: 768px) {
    .hero-text {
      text-align: right !important;
    }
  }
}
